In [ ]:
# import necessarry libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os 
import sys

In [ ]:
sys.path.append(os.path.abspath(os.path.join('..')))
# importing modules from scripts
import scripts.labeling as l

In [ ]:
df = pd.read_csv('../data/cleaned_data.csv')
df

In [ ]:
df.drop(columns='Unnamed: 0')

In [ ]:
df = df.dropna(subset=['Message'])
message_cleaned = df['Message'].isnull().sum()
print(f"Numer of NAN values in Message columns is {message_cleaned}")

In [ ]:
# Apply the updated function to the non-null messages
df['Labeled_Message'] = df['Message'].apply(l.label_message_utf8_with_birr)

# Display the updated DataFrame
df.head()

In [ ]:
# Save the updated labeled dataset to a file in CoNLL format
labeled_data_birr_path = '../data/labeled_telegram_product_price_location.txt-'
with open(labeled_data_birr_path, 'w', encoding='utf-8') as f:
    for index, row in df.iterrows():
        f.write(f"{row['Labeled_Message']}\n\n")