In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os 
import sys

In [ ]:
sys.path.append(os.path.abspath(os.path.join('..')))
import scripts.preprocessing as p
df = pd.read_csv('../data/telegram_data.csv')
df1 = pd.read_csv('../data/Leyueqa_telegram_data.csv')
df2 = pd.read_csv('../data/meneshayeofficial_telegram_data.csv')
df3 = pd.read_csv('../data/nevacomputer_telegram_data.csv')
df4 = pd.read_csv('../data/ZemenExpress_telegram_data.csv')

In [ ]:
df.head()

In [ ]:
print(df.columns)

In [ ]:
df.dtypesnan_counts = p.check_missing_values(df)
print(f"Numer of nan values in the df is {nan_counts}")

In [ ]:
p.caculate_missing_percentage(df)

In [ ]:
print(f"Numer of duplicate rows: {df.duplicated().sum()}")

In [ ]:
df = df.dropna(subset=['Message'])

In [ ]:
message_cleaned = df['Message'].isnull().sum()
print(f"Numer of NAN values in Message columns is {message_cleaned}")

In [ ]:
print(f"Data shape after droping the null values in the message column is {df.shape}")

In [ ]:
# Apply remove emoji function to the message column
df['Message'] = df['Message'].apply(p.remove_emojis).apply(p.remove_english_words)

# Display the cleaned dataframe 
print(df.head())

In [ ]:
# save the updated data to csv file 
df.to_csv('../data/cleaned_data.csv')

In [ ]:

df

In [ ]:
df['Message'].head()